@font-face {
  font-family: 'CooperHewitt-Light';
  src: local('CooperHewitt-Light'), url(../fonts/CooperHewitt-Light.otf) format('embedded-opentype');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: local('HelveticaNeue-Medium'), url(../fonts/HelveticaNeue-Medium.otf) format('truetype');
}

body {
  font-family: 'HelveticaNeue-Medium';
  font-size: 12px;
  line-height: 18px;
} 