.player {
  width: 960px !important;
  height: auto; 
}

.player-wrapper {
  width: 200%; 
  height: auto; 
}
.react-player {
  width: 100%;
  padding-top: 56.25%; // Percentage ratio for 16:9
  position: relative; // Set to relative
}

.react-player > div {
  position: absolute; // Scaling will occur since parent is relative now
}